/* @media (max-width: 1024px) {
} */
@media (max-width: 992px) {
  .sm-padding {
    padding: 15px;
  }
  .header-section .navbar-brand {
    height: 80px;
    padding: 0;
    display: flex;
    align-items: center;
  }
  .menu-btn,
  .js #mainmenu {
    display: none;
  }
  .about-promo {
    padding-left: 0;
  }
  .project-2 .project-item,
  .js .slicknav_menu {
    display: block;
  }
  .error-content .error-info {
    padding-left: 10px;
  }
  .counter-content {
    text-align: left;
    padding-left: 70px;
  }
  .counter-wrap .col-lg-4:last-child {
    margin-top: 50px;
  }
  .projects-carousel .owl-nav div,
  .service-carousel .owl-nav div {
    left: 0;
  }
  .projects-carousel .owl-nav div.owl-next,
  .service-carousel .owl-nav div.owl-next {
    right: 0;
  }
  .work-pro-item .number-line {
    display: none;
  }

  .cta-content h2 {
    font-size: 36px;
  }
}
@media all and (min-width: 993px) and (max-width: 1199px) {
  h1 {
    font-size: 62px;
  }
  h2 {
    font-size: 46px;
  }
}
@media all and (max-width: 767px) {
  body,
  p {
    font-size: 12px;
    line-height: 22px;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 22px;
  }
  h3 {
    font-size: 16px;
  }
  p br {
    display: none;
  }
  .padding {
    padding: 60px 0;
  }
  .xs-padding {
    padding: 15px;
  }
  .page-header {
    height: 250px;
  }
  .page-content h2 {
    font-size: 30px;
    margin: 0;
  }
  .about-content h2 {
    font-size: 24px;
    line-height: 36px;
  }
  .cta-content h2 {
    font-size: 28px;
  }
  .error-content {
    display: block;
  }
  .error-content .error-info h2 {
    font-size: 120px;
    line-height: 120px;
    margin-bottom: 30px;
  }
  .error-content .error-info a {
    display: block;
  }
  .contact-form .form-group .col-sm-6:first-child {
    margin-bottom: 15px;
  }
  .contact-info h2 {
    line-height: 28px;
  }
  .sidebar-wrap {
    padding-left: 0;
  }
  .blog-single-content h2 a {
    font-size: 22px;
    line-height: 28px;
  }
  .blog-single-content h2 {
    line-height: 28px;
  }
  blockquote p {
    line-height: 32px;
  }
  .work-pro-item {
    padding: 0 30px;
  }
  .service-content h2 {
    line-height: 28px;
  }
  .service-section.section-2 {
    padding-bottom: 60px;
  }
  .services-list .offset-top {
    transform: translateY(0);
  }
  #scroll-to-top {
    width: 35px;
    height: 35px;
    line-height: 35px;
    bottom: 20px;
    right: 20px;
  }
  .projects-section .col-lg-4.text-right {
    text-align: left !important;
  }
  .projects-carousel {
    margin-top: 40px;
  }
  .project-single-carousel {
    margin-bottom: 40px;
  }
  .project-single-content {
    padding-left: 0;
  }
}
@media all and (max-width: 580px) {
  .subscribe-form {
    width: 100%;
  }
  .counter-wrap .col-lg-4:first-child {
    margin-bottom: 50px;
  }
  .counter-content {
    text-align: center;
    padding-left: 0;
  }
  .testi-item .fa-quote-right {
    display: none;
  }
}
@media all and (max-width: 420px) {
}
@media all and (max-width: 380px) {
}

@media (min-width: 993px) {
  .header-menu-wrap li ul {
    display: block !important;
  }
}
@media (max-width: 992px) {
  .headroom--top .header-menu-wrap,
  .headroom--unpinned .header-menu-wrap {
    display: none !important;
  }
  .dropdown-plus {
    width: 100%;
    height: 49px;
    line-height: 49px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }
  .dropdown-plus:before,
  .dropdown-plus:after {
    position: absolute;
    content: "";
    top: 24px;
    right: 18px;
    width: 13px;
    height: 1px;
    background-color: #222;
  }
  .dropdown-plus:after {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .dropdown-plus.dropdown-open:after {
    display: none;
  }
  .mobile-menu-icon {
    display: block;
  }
  .header-menu-wrap {
    display: none;
    background-color: #fff;
    width: 100%;
    height: auto;
    padding: 0 20px;
    position: absolute;
    left: 0;
    top: 50px;
    z-index: 999;
  }
  .header-menu-wrap ul li {
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.04);
  }
  .header-menu-wrap ul li:first-child {
    border-top: 1px solid rgba(0, 0, 0, 0.04);
  }
  .header-menu-wrap ul li > a {
    padding: 10px 15px;
    height: inherit;
    line-height: inherit;
  }
  .header-menu-wrap ul li ul li ul,
  .header-menu-wrap ul li ul {
    background-color: transparent;
    width: 100%;
    opacity: 1;
    padding: 0;
    visibility: visible;
    position: inherit;
    display: none;
    top: inherit;
    left: inherit;
    box-shadow: none;
  }
  .header-menu-wrap li li {
    padding-left: 11px;
  }
  .header-menu-wrap li li:last-child {
    border-bottom: none;
  }
  .header-menu-wrap li li > a {
    color: #263a4f;
    font-size: 13px;
  }
  .header-menu-wrap li li:hover > a {
    color: #666;
  }
}
@media (max-width: 580px) {
  .header-right a.menu-btn {
    line-height: 40px;
    font-size: 10px;
    padding: 0 25px;
  }
  .primary-header .header-logo {
    max-width: 150px;
  }
}

@media all and (min-width: 1200px) and (max-width: 1400.98px) {
  h1 {
    font-size: 52px;
  }
  h2 {
    font-size: 42px;
  }
}
@media all and (min-width: 992px) and (max-width: 1199.98px) {
  h1 {
    font-size: 52px;
  }
  h2 {
    font-size: 42px;
  }
}
@media all and (min-width: 768px) and (max-width: 991.98px) {
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 36px;
  }
}
@media all and (min-width: 576px) and (max-width: 767.98px) {
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 36px;
  }
}
@media all and (min-width: 376px) and (max-width: 575.98px) {
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 28px;
  }
}
@media all and (min-width: 200px) and (max-width: 375.98px) {
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 28px;
  }
}
